/********************************************************************************
*          General Selectors                                                    *
********************************************************************************/
* {
  margin: 0;
}

header {
  background-color: #3F4234;
  color: white;
  height: 80px;
}
header section {
  float: left;
}

nav li{
  float: right;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: white;
  
}

img {
  max-width: 300px;
}

footer {
  background-color:#687672;
  height: 120px;
  text-align: center;
}

main {
  max-width: 960px;
  clear: both;
  margin: auto;
}

table {
  border: solid 3px black;
  margin: auto;
}

th {
  border: solid 2px black;
}

td {
  border: solid 1px black;
}
